.friends-zone 
  width: 340px
  padding: 35px 30px
  background-color: #fff
  &__title 
    font-size: 20px 
    margin-bottom: 20px
    &:after 
      content: ''
      width: 10px 
      height: 1px 
      color: #c71313

.friend
  &__link 
    display: flex
  &__img 
    width: 30px
    height: 30px
    background-color: #5f5656
    border-radius: 50%
  
