.friends-zone 
  position: fixed 
  right: 0
  top: 90px
  width: 250px
  padding: 15px
  background-color: #fff
  box-shadow: 0 0 10px #808080
  &__title 
    font-size: 20px 
    margin-bottom: 20px
    &:after 
      content: ''
      display: block
      width: 30px 
      height: 2px 
      background-color: #dc4734
      margin-top: 10px

.friend
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 15px
  &:last-child 
    margin-bottom: 0
  &__link 
    display: flex
    align-items: center
  &__image 
    margin-right: 10px
  &__img 
    width: 50px
    height: 50px
    background-color: #5f5656
    border-radius: 50%
  &__name 
    font-size: 16px
    font-weight: 600
    margin-bottom: 5px
    color: #222
  &__mutual 
    font-size: 12px
    color: #222
  
