.header
  position: fixed
  width: 100%
  background-color: #fff
  box-shadow: $box-shadow-blue
  z-index: 5
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 50px
    height: 90px 
  &__logo
    display: flex
    align-items: center
  &__name 
    font-family: 'Space One', sans-serif
    font-size: 40px
    color: #001485
    background: linear-gradient(45deg, #173c91 33%, #8a66c7 66%, #8AA9D6);
    background-clip: text
    -webkit-text-fill-color: transparent
    margin-right: 20px
  &__search 
    position: relative
  &__input 
    width: 500px
    padding: 10px 60px 10px 10px
    border: 1px solid rgba(#797979, 0.2)
    background-color: rgba(#d5ffff, 0.3)
    border-radius: 5px
    font-size: 15px
    outline: none
  &__search
    &-btn 
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      right: 5px
      top: 50%
      transform: translateY(-50%)
      width: 40px
      height: 40px
      border: none 
      background: transparent
    &-logo
      width: 25px 
      height: 25px
  &__profile 
    display: flex
    align-items: center
    margin-right: 40px
    &-photo 
      width: 60px
      height: 60px
      border-radius: 50%
      margin-right: 15px
    &-name 
      font-size: 20px
      color: #000
  &__menu 
    display: flex
    align-items: center
  &__icon 
    display: flex 
    align-items: center
    width: 30px 
    height: 30px
    margin-right: 20px
    &:last-child
      margin-right: 0
    &-pic 
      width: 25px 

.logo 
  width: 90px
  height: 90px
  margin-right: 20px

.hamburger 
  cursor: pointer
  &__line 
    width: 30px
    height: 3px
    background-color: #333333
    margin-bottom: 5px
    &:last-child
      margin-bottom: 0