.header
  box-shadow: 0 0 10px #808080
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 0
    background-color: #fff
    min-height: 50px 
  &__nav 
    display: flex
    justify-content: space-between
    width: 400px
  &__search-block 
    display: flex
    align-items: center
    justify-content: flex-end
    width: 400px
  &__search-form 
    margin-right: 15px
    border: none 
    border-bottom: 1px solid #000
  &__input 
    margin-right: 5px
    border: none
  &__search-btn 
    width: 30px
    height: 30px
  &__person 
    width: 40px
    height: 40px
    background-color: #686868
    border-radius: 50%
      
      
