.profile 
  height: 350px
  margin-bottom: 40px
  background-color: #fff 
  &__top 
    height: 200px
    background-color: #757474
  &__bottom 
    position: relative
    display: flex
    align-items: center 
    justify-content: space-between
    padding: 15px
  &__links 
    display: flex
    align-items: center
  &__name 
    position: absolute 
    left: 50% 
    transform: translateX(-50%)
  &__image 
    width: 100px
    height: 100px
    border-radius: 50%
  &__follow 
    display: flex
    align-items: center